.initial-content {width:1280px;margin:0 auto;padding:1em;}
.greedy-nav .visible-links {display:none;}
.archive__subtitle {padding: 0.5em 1em;border-radius: 75px;background-color: #3f6c98;color: #fff;width: fit-content;}
